#formProfile {
  margin: auto;
  background-color: cadetblue;
  width: 30%;
  padding-bottom: 20px;
  padding-top: 30px;
  margin-top: 10px;
  border-radius: 10px;
  color: white;
}

.lbl {
  font-weight: normal;
  font-size: 18px;
}
#btnChange {
  background-color: #02223c;
  border: #02223c;
}

#msg {
  color: red;
  font-size: 14px;
  padding-bottom: 10px;
  margin-top: -15px;
  display: none;
}
#head {
  margin-bottom: 30px;
  font-size: 26px;
}
